<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta name=format-detection content="telephone=no">
    <meta name=msapplication-tap-highlight content=no>
    <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>Spider Poker</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/#{manifest("app.css")}") %>"></script>
  </head>
  <body>
    <div id="q-app"></div>
    <script>
      window.GA_ID = "<%= google_analytics_id() %>"
    </script>
    <script src="<%= static_path(@conn, "/#{manifest("manifest.js")}") %>"></script>
    <script src="<%= static_path(@conn, "/#{manifest("vendor.js")}") %>"></script>
    <script src="<%= static_path(@conn, "/#{manifest("app.js")}") %>"></script>
  </body>
</html>
