.cards > button
  margin: 1px

.user-presence-enter-active, .user-presence-leave-active, .user-presence-enter, .user-presence-leave-to
  opacity: 0
  transform: translateY(30px)

// Someway a few tabs are bugged :/
// Simply reassigning it's own width (which is font-size) fixes
.tab-control i
  margin: 0 auto
  width: 1.5rem

.tab-chat
  padding-bottom: 40px

.chat-message
  margin-top: 10px
  transition: all ease .1s

  .chat-user
    margin-top: -20px

    img
      width: 48px
      height: auto
  
  &.chat-you
    .chat-message
      margin-right: 70px

  &.chat-other
    .chat-date
      margin-left: 60px
    .chat-message
      margin-left: 70px
  