{
  "presets": [
    "es2015"
  ],
  "plugins": [
    ["module-alias", [
      { "src": "./web/static/js/components", "expose": "app/components" },
      { "src": "./web/static/js/layouts", "expose": "app/layouts" },
      { "src": "./web/static/js/api", "expose": "app/api" },
      { "src": "./web/static/js/state/store.js", "expose": "app/store" },
      { "src": "./web/static/js/utils.js", "expose": "app/utils" }
    ]],
    "transform-object-rest-spread"
  ]
}
