@import '../layouts/variables.sass'
@import '~bulma/sass/utilities/mixins.sass'

body
  background-color: #F6FAFB

.app-container
  display: flex
  height: 100%
  overflow: hidden

.app-content
  flex: 1 0 0
  overflow-x: hidden
  overflow-y: auto

  &.fullheight-page
    display: flex
    flex-direction: column
    overflow-y: hidden

    > *
      flex: 1 0 0
