{
  "presets": [
    "es2015"
  ],
  "plugins": [
    ["module-alias", [
      { "src": "./js/components", "expose": "app/components" },
      { "src": "./js/layouts", "expose": "app/layouts" },
      { "src": "./js/api", "expose": "app/api" },
      { "src": "./js/state/store.js", "expose": "app/store" },
      { "src": "./js/utils.js", "expose": "app/utils" }
    ]],
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-async-generator-functions"
  ]
}
